body {
    margin: 0;
    font-family: Arial;
    color: #2f313f;
}

a {
    color: #2f313f;
    text-decoration: none;
    font-size: 18px;
    padding: 26px 16px 27px;
    vertical-align: top;
    display: inline-block;
}

nav {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav img {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}

nav a:hover {
    background-color: #e9eaee;
}
