body {
    margin: 0;
    font-family: Arial;
    color: #2f313f;
}

a {
    color: #2f313f;
    text-decoration: none;
    font-size: 18px;
    padding: 26px 16px 27px;
    vertical-align: top;
    display: inline-block;
}

nav {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav img {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}

nav a:hover {
    background-color: #e9eaee;
}

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.app-store {
    height: 40px;
}

.play-store {
    vertical-align: top;
    height: 60px;
    margin-top: -10px;
}

.bg-green {
    background-color: rgb(46, 184, 117);
    color: white;
}

h1.huge {
    font-size: 72px;
    font-weight: 700;
}

p.large {
    font-size: 18px;
}

.vw50 {
    width: 50vw;
}

.pane-padding {
    padding: 20px;
}
