body {
    margin: 0;
    font-family: Arial;
    color: #2f313f;
}

a {
    color: #2f313f;
    text-decoration: none;
    font-size: 18px;
    padding: 26px 16px 27px;
    vertical-align: top;
    display: inline-block;
}

nav {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav img {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}

nav a:hover {
    background-color: #e9eaee;
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.app-store {
    height: 40px;
}

.play-store {
    vertical-align: top;
    height: 60px;
    margin-top: -10px;
}

.bg-green {
    background-color: rgb(46, 184, 117);
    color: white;
}

.bg-blue {
    background-color: #4f5cd1;
    color: white;
}

.bg-light-green {
    background-color: rgb(217, 253, 229);
}

h1.huge {
    font-size: 72px;
    font-weight: 700;
}

p.large {
    font-size: 18px;
}

.vw50 {
    width: 50vw;
}

.vw33 {
    width: 33vw;
}

.pane-padding {
    padding: 20px;
}

.pill {
    background-color: white;
    color: blue;
    text-decoration: underline;
    border: none;
    font-size: 16px;
    font-weight: 900;
    padding: 22px 40px;
    border-radius: 100px;
    margin: 30px 0px
}

.thumb-140 {
    height: 140px;
    width: 140px;
    vertical-align: bottom;
}

.thumb-24 {
    height: 24px;
    width: 24px;
    background-color: rgb(217, 253, 229);
    border-radius: 100px;
    padding: 12px;
}

.popout-image {
    width: 50vw;
    margin-top: -180px;
}

.huge-padding {
    padding: 92px 0;
}

.text-center {
    text-align: center;
}

.bg-green p a {
    color: white;
    padding: 0;
    text-decoration: underline;
}

.footer a {
    padding-left: 0;
    padding-top: 4px;
}

.footer .logo {
    width: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}
